.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
    background: #f8f8f8;
}

.about .section-header {
    margin-bottom: 30px;
}

.section-header {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.section-header p {
    color: #c74044;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

@media (max-width: 767.98px) {
.section-header h2 {
    font-size: 30px;
}
}

.about .about-text p {
    font-size: 16px;
    color: #000;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
.about .about-text p {
    font-size: 12px;
}}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff !important;
    border-radius: 0;
    background: #c74044;
    transition: 0.3s;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}
