.nav-bar {
    position: relative;
    background: #c74044;
}

@media (min-width: 992px) {
.nav-bar {
    padding: 0 75px;
}
}

@media (min-width: 992px) {
.nav-bar .navbar {
    padding: 20px;
} }

.nav-bar .navbar {
    height: 100%;
    background: #c74044 !important;
}

@media (min-width: 992px) {
.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #c74044;
    /* color: #ffffff; */
    overflow: hidden;
}

.dropdown-item {
    color: #ffffff;
    text-align: justify;
    background-color: none !important;
    border: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
    /* border-bottom: 2px solid #0062cc; */
}


.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff !important;
    transition: none;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

@media (min-width: 992px) {
.nav-bar a.nav-link {
    padding: 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
} }

/* .nav-bar .btn {
    color: black;
    border: 1px solid #edede9;
    background: #edede9;
    border-radius: 5px;
}

.btn {
    color: #ffffff;
    border: 1px solid #03155d;
    background: #03155d;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 15px;
}
.btn {
    transition: 0.3s;
} */

.nav-bar .btn {
    color: black;
    border: 1px solid #edede9;
    background: #edede9;
    border-radius: 5px;
}

.nav-bar .btn:hover {
    color: blue;
    border: 1px solid #edede9;
    background: #edede9;
    border-radius: 5px;
}

.mar {
     margin-left: 510px;
}

@media only screen and (max-width: 1440px) {
    .recu-pro-content p{
        font-size: 12px;
    }
    .recu-pro-content ul li{
        font-size: 12px;
    }
    .subheader .subheader-content {
    position: relative;
    padding: 35px 0 50px;
}
}
@media only screen and (max-width: 1024px) {
  .nav-bar a.nav-link {
    font-size: 12px;
    text-transform: uppercase;
  }
  .slick-slide img {
    display: block;
    max-width: 184px;
  }
}
@media only screen and (max-width: 998px) {
    .slick-slide img{
        display: block;
        max-width: 127px; 
    }
}
@media only screen and (max-width: 768px) {
    .carousel .carousel-caption h1{
        font-size: 30px;
    }
    .section-header h2{
        font-size: 25px;
    }
    .about .about-text p {
        font-size: 12px;
    }
    .mission-icon img{
        margin-left: 54px;
    }
    .mission-title h3{
        margin-left: 45px;
    }
    .mission-dec p{
        font-size: 15px;
    }
    .testimonial-title{
        font-size: 30px;
        font-weight: 700;
    }
    .testimonial .testimonial-slider p{
        font-size: 15px ;
    }
    .fact .fact-text p{
        font-size: 12px;
    }
    .client-title{
        font-size: 30px;
    }
    .slick-slide img{
        display: block;
        max-width: 127px; 
    }
    .job-sector-title p {
        margin-left: 38px;
        margin-top: 50px;
        color: #fff;
        font-size: 20px;
    }
    .overlay {
        font-size: 15px;
    }
    .recu-pro-content h3 {
        font-size: 14px;
        font-weight: 700;
    }
    .recu-pro-content p {
        font-size: 12px;
        color: #000000;
    }
    .recu-pro-content ul li {
        font-size: 12px;
        color: #000000;
        list-style: decimal;
    }
}
@media only screen and (max-width: 756px) {
    .carousel .carousel-caption h1 {
        font-size: 20px;
    } 
}
@media only screen and (max-width: 608px) {
    .slick-slide img{
        display: block;
        max-width: 85px; 
    }  
}
@media only screen and (max-width: 426px) {
    .carousel .carousel-caption h1 {
        font-size: 15px;
    }
    .slick-slide img{
        display: block;
        max-width: 50px; 
    }  
    .mission-area {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        background-color: #03155D !important;
    }
    .normal-bg {
        width: 100%;
        height: 41vh;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s, opacity 0.3s ease-in;
        object-fit: cover;
    }
    .subheader .subheader-content .page-title {
        font-size: 27px;
        margin-bottom: 5px;
    }
    .subheader .subheader-content .breadcrumb li, .subheader .subheader-content .breadcrumb li a {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
    }
    .bg-items {
        /* padding: 20px; */
        width: 100%;
        height: auto;
        margin: 4px;
        background-color: white;
        float: left;
        cursor: pointer;
        box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 50%);
        padding: 10px;
    }
    .job_desc h1{
        font-size: 24px;
    }
    .job-innear-page-content {
        margin-bottom: 20px;
    }
    .job_desc h1 span{
        font-size: 9px;
    }
.subheader .subheader-content .page-title {
    font-size: 27px !important;
    margin-bottom: 5px;
}
.subheader .subheader-content {
    position: relative;
    padding: 140px 0 50px;
}

}
@media only screen and (max-width: 375px) {
    .carousel .carousel-caption p {
        font-size: 13px;
    }
    .mission-icon img {
        margin-left: 131px;
    }
    .mission-title h3 {
        margin-left: 120px;
    }
    .job_desc h1 span{
        font-size: 7px;
    }
}
@media only screen and (max-width: 320px) {
    .carousel .carousel-caption p {
        font-size: 11px;
    }
    .mission-icon img {
        margin-left: 99px;
    }
    .mission-title h3 {
        margin-left: 92px;
    }
    .fact .fact-text h2{
        font-size: 20px;
    }
    .fact .fact-text p {
        font-size: 10px;
    }
    .slick-slide img {
        display: block;
        max-width: 33px;
    }
    .job_desc h1 span{
        font-size: 7px;
    }
}